header {
  overflow: hidden;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 80px);
  max-width: 730px;
  margin: 0 auto;
}

.orange {
  color: var(--font-color);
}

.header__content--text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
}

.header__title {
  color: var(--font-color);
  margin-bottom: 30px;
  margin-top: 24px;
  animation: fadeUp 1000ms 500ms backwards;
}

@keyframes fadeUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header__sub-title {
  margin-bottom: 40px;
  animation: fadeUp 1000ms 800ms backwards;
}

.input__wrapper {
  display: flex;
  justify-content: space-between;
  animation: fadeUp 1000ms 1200ms backwards;
}

.header__input,
.header__btn {
  border-radius: 16px;
}

.header__input {
  padding: 0 15px 0 25px;
  height: 60px;
  font-size: 24px;
  width: 80%;
  border: 1px solid #242424;
}

.header__input:focus {
  box-shadow: 0 0 10 1px rgb(41, 68, 82);
}

.header__input:focus {
  outline-color: var(--font-color);
}

.header__btn {
  width: 18%;
  border: 0;
  background-color: rgb(240, 191, 154);
  box-shadow: 7px 7px 14px rgb(41 68 82 / 30%);
  cursor: pointer;
  transition: background-color 200ms ease, transform 300ms ease;
}

.btn__hover-effect:hover {
  background-color: var(--font-color);
}

.input__icon {
  color: white;
  font-size: 40px !important;
}

.header__img--wrapper {
  height: 50%;
  padding-bottom: 20px;
  overflow: hidden;
}

.header__img {
  height: 100%;
  animation: popUp 1000ms 600ms backwards;
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 0.9;
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.header__moving-animation--wrapper {
  position: relative;
  width: 100%;
  bottom: 15%;
}

.movietape--animation {
  position: absolute;
  left: 0;
  bottom: 12%;
  width: 1200px;
  animation: goLeft 1000ms linear;
  visibility: hidden;
}

.moving .movietape--animation {
  visibility: visible;
}

@keyframes goLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-120%);
  }
}

/* New Animations */


.header__buffetImg {
  position: absolute;
  object-fit: contain;
  width: 500px;
  height: 200px;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  left: 50%;
  transform: translate(-63%, -150%);
  transition: all 1000ms ease;
}

.clicked .header__buffetImg {
  opacity: 1;
  transform: translate(-63%, -100%);
}

.clicked .header__img {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.header__truckImg {
    position: absolute;
    object-fit: contain;
    bottom: 30px;
    opacity: 0;
    transform: translateX(-150%);
    transition: transform 3000ms ease, opacity 800ms ease;
}

.submitted .header__truckImg {
    transform: translateX(150%);
    opacity: 1;
}

.loading {
    animation: rotate 500ms infinite linear;
    font-size: 56px !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}