nav {
  background-color: var(--background-color);
}

.nav__logo--wrapper {
    width: 150px;
    height: 80px;
    overflow: hidden;
    /* Magic */
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

.nav__logo {
    height: 200px;
}

.nav__container {
  padding: 0 50px;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font-weight: bold;
  font-size: 18px;
  color: var(--font-color);
  position: relative;
  cursor: pointer;
  border: none;
  background-color: var(--background-color);
}

.nav__link--btn {
  color: black;
  padding: 12px 36px;
  background-color: rgb(240, 191, 154);
  border-radius: 50px;
  transition: background-color 300ms ease;
}

.nav__link--btn:hover {
  background-color: var(--font-color);
  color: white;
}

.link__hover-effect::after {
  content: "";
  height: 3px;
  background-color: var(--font-color);
  width: 0;
  position: absolute;
  bottom: -2px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
}

.link__hover-effect--blue::after {
  background-color: rgb(41, 68, 82, 0.5);
}

.link__hover-effect--blue {
  color: rgb(41, 68, 82, 0.5);
}
