@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  --background-color: rgb(250, 234, 222);
  --font-color: rgb(180, 98, 41);
}

a {
  text-decoration: none;
}