.recipeDescription__container {
    padding: 24px 32px;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.recipeDescription__top {
    display: flex;
    align-items: center;
    cursor: pointer;
}