.recipeDescription__container {
  padding: 24px 32px;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.recipe__image {
  object-fit: contain;
}

.recipe__image > img {
  height: 400px;
  border: 3px solid var(--font-color);
}

.recipeDescription__description {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 60px;
}

.recipeDescription__title {
  margin-bottom: 8px;
}

.recipeDescription__category {
  margin-bottom: 8px;
  font-weight: 500;
}

.recipeDescription__sub-title {
  margin-bottom: 8px;
}

.recipeDescription__instructions {
  font-size: 16px;
  max-width: 500px;
}

.recipeDescription__top {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.recipeDescription__selected {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.recipeDescription__ingredients {
  display: flex;
  flex-direction: column;
}

.recipeDescription__ingredients--title {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 12px;
}

.recipeDescription__ingredients {
  text-align: center;
  margin-bottom: 32px;
}

.recipeDescription__ingredients > ul {
  font-size: 20px;
  list-style-type: disc;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
}

.recipeDescription__ingredients > ul > li {
    margin-bottom: 8px;
    letter-spacing: 1.25px;
}

.recipeDescription__video {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.recipeDescription__video--title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* SKELETON LOADING */

.recipeDescription__description-skeleton {
  content: "";
  width: 50%;
  margin-left: 60px;
  margin-right: 40px;
}

.recipeDescription__skeleton--body {
  display: flex;
  width: 100%;
}

.recipe__img--skeleton {
  width: 400px;
  height: 400px;
  background-color: lightgray;
}

.recipe__title--skeleton {
  height: 32px;
  width: 100%;
  background-color: lightgray;
  margin-bottom: 12px;
}

.recipe__category--skeleton {
  height: 24px;
  width: 100%;
  background-color: lightgray;
  margin-bottom: 12px;
}

.recipe__instructions--skeleton {
  height: 275px;
  width: 100%;
  background-color: lightgray;
}

.ingredients__skeleton--list {
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ingredients__skeleton--item {
  width: 33%;
  height: 20px;
  background-color: lightgray;
  margin: 0 72px;
}

.video__skeleton {
  width: 640px;
  height: 390px;
  background-color: lightgray;
  margin: 0 auto;
}